<div class="legal-modal modal fade" id="privacy-policy" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <p><strong>Privacy policy</strong></p>
              <p>
                This privacy policy applies between you, the User of this Website and Proroom Llp, the owner and provider of this
                Website. Proroom Llp takes the privacy of your information very seriously. This privacy policy applies to our use of any
                and all Data collected by us or provided by you in relation to your use of the Website.
              </p>

              <p><strong>Definitions and interpretation</strong></p>

              <p>1. In this privacy policy, the following definitions are used:</p>
              <ul>
                <li>
                  <p>
                    Data: collectively all information that you submit to Proroom Llp via the Website. This definition
                    incorporates, where applicable, the definitions provided in the Data Protection Laws;
                  </p>
                </li>

                <li>
                  <p>
                    Data Protection Laws: any applicable law relating to the processing of personal Data, including but not
                    limited to the Directive 96/46/EC (Data Protection Directive) or the GDPR, and any national implementing laws,
                    regulations and secondary legislation, for as long as the GDPR is effective in the UK;
                  </p>
                </li>

                <li>
                  <p>
                    GDPR: the General Data Protection Regulation (EU) 2016/679;
                  </p>
                </li>

                <li>
                  <p>
                    Proroom Llp, or us: Proroom Llp of 100 Harewood Gardens, South Croydon, CR2 9BJ;
                  </p>
                </li>

                <li>
                  <p>
                    User or you: any third party that accesses the Website and is not either (i) employed by Proroom Llp
                    and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing
                    services to Proroom Llp and accessing the Website in connection with the provision of such services; and
                  </p>
                </li>

                <li>
                  <p>
                    Website: the website that you are currently using, https://www.proroom.uk.com, and any sub-domains of this
                    site unless expressly excluded by their own terms and conditions.
                  </p>
                </li>

              </ul>

              <p>2. In this privacy policy, unless the context requires a different interpretation: </p>
              <ul>
                <li>
                  <p>a. the singular includes the plural and vice versa;</p>
                </li>

                <li>
                  <p>b. references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or appendices of this privacy policy;</p>
                </li>

                <li>
                  <p>c. a reference to a person includes firms, companies, government entities, trusts and partnerships;</p>
                </li>

                <li>
                  <p>d. "including" is understood to mean "including without limitation";</p>
                </li>

                <li>
                  <p>e. reference to any statutory provision includes any modification or amendment of it;</p>
                </li>

                <li>
                  <p> f. the headings and sub-headings do not form part of this privacy policy.</p>
                </li>

              </ul>

              <p><strong>Scope of this privacy policy</strong></p>

              <p>
                3. This privacy policy applies only to the actions of Proroom Llp and Users with respect to this Website.
                It does not extend to any websites that can be accessed from this Website including, but not limited to, any
                links we may provide to social media websites.
              </p>

              <p>
                4. For purposes of the applicable Data Protection Laws, Proroom Llp is the "data controller". This means
                that Proroom Llp determines the purposes for which, and the manner in which, your Data is processed.
              </p>

              <p><strong>Data collected</strong></p>

              <p>5. We may collect the following Data, which includes personal Data, from you: </p>

              <ul>
                <li>
                  <p>a. name;</p>
                </li>
                <li>
                  <p>b. contact Information such as email addresses and telephone numbers;</p>
                </li>
                <li>
                  <p>c. in each case, in accordance with this privacy policy.</p>
                </li>
              </ul>

              <p><strong>How we collect Data</strong></p>

              <p>6. We collect Data in the following ways:</p>

              <ul>
                <li>
                  <p> a. data is given to us by you; and</p>
                </li>
                <li>
                  <p> b. data is collected automatically.</p>
                </li>
              </ul>

              <p><strong>Data that is given to us by you</strong></p>

              <p> 7. Proroom Llp will collect your Data in a number of ways, for example: </p>

              <ul>
                <li>
                  <p> a. when you contact us by telephone, post, e-mail or through any other means;</p>
                </li>

                <li>
                  <p> b. when you fill in the contact us form;</p>
                </li>

              </ul>

              <p>in each case, in accordance with this privacy policy.</p>

              <p><strong>Data that is collected automatically</strong></p>

              <p>
                8. To the extent that you access the Website, we will collect your Data automatically. We automatically
                collect some information about your visit to the Website. This information helps us to make improvements to
                Website content and navigation, and includes your IP address, the date, times and frequency with which you
                access the Website and the way you use and interact with its content.
              </p>

              <p><strong>Our use of Data</strong></p>

              <p>
                9. Any or all of the above Data may be required by us from time to time in order to provide you with the best
                possible service and experience when using our Website.
              </p>

              <p>
                10. We may use your Data for the above purposes if we deem it necessary to do so for our legitimate interests.
                If you are not satisfied with this, you have the right to object in certain circumstances (see the section headed
                "Your rights" below).
              </p>

              <p><strong>Who we share Data with</strong></p>

              <p>
                11. We may share your Data with our employees to contact you regarding a free valuation.
              </p>

              <p><strong>Keeping Data secure</strong></p>

              <p>
                12. We will use technical and organisational measures to safeguard your Data, for example we store your Data on secure servers.
              </p>

              <p>
                13. Technical and organisational measures include measures to deal with any suspected data breach. If you suspect
                any misuse or loss or unauthorised access to your Data, please let us know immediately by contacting us via this e-mail
                address: info@proroom.uk.com.
              </p>

              <p>
                14. If you want detailed information from Get Safe Online on how to protect your information and your computers and
                devices against fraud, identity theft, viruses and many other online problems, please visit www.getsafeonline.org.
                Get Safe Online is supported by HM Government and leading businesses.
              </p>

              <p><strong>Data retention</strong></p>

              <p>
                15. Unless a longer retention period is required or permitted by law, we will only hold your Data on our systems for
                the period necessary to fulfil the purposes outlined in this privacy policy or until you request that the Data be deleted.
              </p>

              <p> 16. Even if we delete your Data, it may persist on backup or archival media for legal, tax or regulatory purposes.</p>

              <p><strong>Your rights</strong></p>

              <p> 17. You have the following rights in relation to your Data: </p>

              <ul>
                <li>
                  <p> a. Right to access - the right to request (i) copies of the information we hold about you at any time, or
                    (ii) that we modify, update or delete such information. If we provide you with access to the information we hold
                    about you, we will not charge you for this, unless your request is "manifestly unfounded or excessive." Where we
                    are legally permitted to do so, we may refuse your request. If we refuse your request, we will tell you the reasons why.</p>
                </li>

                <li>
                  <p>
                    b. Right to correct - the right to have your Data rectified if it is inaccurate or incomplete.
                  </p>
                </li>

                <li>
                  <p>
                    c. Right to erase - the right to request that we delete or remove your Data from our systems.
                  </p>
                </li>

                <li>
                  <p>
                    d. Right to restrict our use of your Data - the right to "block" us from using your Data or limit the way in which we can use it.
                  </p>
                </li>

                <li>
                  <p>  e. Right to data portability - the right to request that we move, copy or transfer your Data.</p>
                </li>

                <li>
                  <p>  f. Right to object - the right to object to our use of your Data including where we use it for our legitimate interests.</p>
                </li>

              </ul>

              <p>
                18. To make enquiries, exercise any of your rights set out above, or withdraw your consent to the processing of
                your Data (where consent is our legal basis for processing your Data), please contact us via this e-mail address: info@proroom.uk.com.
              </p>

              <p>
                19. If you are not satisfied with the way a complaint you make in relation to your Data is handled by us, you
                may be able to refer your complaint to the relevant data protection authority. For the UK, this is the
                Information Commissioner's Office (ICO). The ICO's contact details can be found on their website at https://ico.org.uk/.
              </p>

              <p>
                20. It is important that the Data we hold about you is accurate and current. Please keep us informed if your Data changes during the period for which we hold it.
              </p>

              <p><strong>Links to other websites</strong></p>

              <p>
                21. This Website may, from time to time, provide links to other websites. We have no control over such websites
                and are not responsible for the content of these websites. This privacy policy does not extend to your use of such
                websites. You are advised to read the privacy policy or statement of other websites prior to using them.
              </p>

              <p><strong>Changes of business ownership and control</strong></p>

              <p>
                22. Proroom Llp may, from time to time, expand or reduce our business and this may involve the sale and/or
                the transfer of control of all or part of Proroom Llp. Data provided by Users will, where it is relevant to
                any part of our business so transferred, be transferred along with that part and the new owner or newly
                controlling party will, under the terms of this privacy policy, be permitted to use the Data for the purposes
                for which it was originally supplied to us.
              </p>

              <p>
                23. We may also disclose Data to a prospective purchaser of our business or any part of it.
              </p>

              <p> 24. In the above instances, we will take steps with the aim of ensuring your privacy is protected.</p>

              <p><strong>General</strong></p>

              <p>
                25. You may not transfer any of your rights under this privacy policy to any other person. We may transfer
                our rights under this privacy policy where we reasonably believe your rights will not be affected.
              </p>

              <p>
                26. If any court or competent authority finds that any provision of this privacy policy (or part of any provision)
                is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to
                be deleted, and the validity and enforceability of the other provisions of this privacy policy will not be affected.
              </p>

              <p>
                27. Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed
                a waiver of that, or any other, right or remedy.
              </p>

              <p>
                28. This Agreement will be governed by and interpreted according to the law of England and Wales. All disputes
                arising under the Agreement will be subject to the exclusive jurisdiction of the English and Welsh courts.
              </p>

              <p><strong>Changes to this privacy policy</strong></p>

              <p>
                29. Proroom Llp reserves the right to change this privacy policy as we may deem necessary from time to time
                or as may be required by law. Any changes will be immediately posted on the Website and you are deemed to have
                accepted the terms of the privacy policy on your first use of the Website following the alterations. You
                may contact Proroom Llp by email at info@proroom.uk.com.
              </p>

              <p><strong>Attribution</strong></p>

              <p> 30. This privacy policy was created using a document from Rocket Lawyer (https://www.rocketlawyer.co.uk).</p>

              <p><strong>30 July 2018</strong></p>

              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>