<div class="legal-modal modal fade" id="terms-of-use" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <p><strong>Website usage terms and conditions</strong></p>
              <p>
                Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with
                and be bound by the following terms and conditions of use, which together with our privacy policy govern
                Proroom Llp’s relationship with you in relation to this website. If you disagree with any part of these
                terms and conditions, please do not use our website.
              </p>
              <p>
                The term ‘Proroom Llp’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is
                100 Harewood Gardens, South Croydon, CR2 9BJ. Our company registration number is [company registration number and place of registration].
                The term ‘you’ refers to the user or viewer of our website.
              </p>
              <p>
                The use of this website is subject to the following terms of use:
              </p>
              <ul>
                <li>
                  <p>
                    The content of the pages of this website is for your general information and use only. It is subject to change without notice.
                  </p>
                </li>
                <li>
                  <p>
                    Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance,
                    completeness or suitability of the information and materials found or offered on this website for any particular
                    purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly
                    exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
                  </p>
                </li>

                <li>
                  <p>
                    Your use of any information or materials on this website is entirely at your own risk, for which we shall not
                    be liable. It shall be your own responsibility to ensure that any products, services or information available
                    through this website meet your specific requirements.
                  </p>
                </li>

                <li>
                  <p>
                    Every effort is made to keep the website up and running smoothly. However, Proroom Llp takes no responsibility
                    for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
                  </p>
                </li>

                <li>
                  <p>
                    Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
                  </p>
                </li>

                <li>
                  <p>
                    From time to time, this website may also include links to other websites. These links are provided for
                    your convenience to provide further information. They do not signify that we endorse the website(s).
                    We have no responsibility for the content of the linked website(s).
                  </p>
                </li>

                <li>
                  <p>
                    Your use of this website and any dispute arising out of such use of the website is subject to the laws
                    of England, Northern Ireland, Scotland and Wales.
                  </p>
                </li>

              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>