<!DOCTYPE html>
<html>
<head>
  <title>Rent Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/stylesheets/calculator.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<section id="calculator">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Net rent calculator</h2>
        <h3 class="section-subheading text-muted">Fill in your property details in order to calculate your net rent.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="calculator-form" name="calculator">
          <div class="row">
            <div class="col-md-6">
              <label class="gross-rent-label" for="gross-rent">Gross rent (Monthly)</label>
              <div class="input-group input-group-prepend form-group">
                <span class="input-group-text" id="gross-rent-addon">£</span>
                <input id="gross-rent" class="form-control">
              </div>
              <label class="lettings-service-label" for="lettings-service">Lettings service (Including vat)</label>
              <div class="input-group input-group-append form-group">
                <input id="lettings-service" class="form-control">
                <span class="input-group-text" id="lettings-service-addon">%</span>
              </div>
              <label class="management-service-label" for="management-service">Management service (Including vat)</label>
              <div class="input-group input-group-append form-group">
                <input id="management-service" class="form-control">
                <span class="input-group-text" id="management-service-addon">%</span>
              </div>
            </div>
            <div class="col-md-6">
              <label class="maintenance-and-repairs-label" for="maintenance-and-repairs">Maintenance & repairs (Yearly)</label>
              <div class="input-group input-group-prepend form-group">
                <span class="input-group-text" id="maintenance-and-repairs-addon">£</span>
                <input id="maintenance-and-repairs" class="form-control">
              </div>
              <label class="voids-label" for="voids">Voids (Yearly)</label>
              <div class="input-group input-group-prepend form-group">
                <span class="input-group-text" id="voids-addon">£</span>
                <input id="voids" class="form-control">
              </div>
              <label class="additional-fees-label" for="additional-fees">Additional fees (Yearly)</label>
              <div class="input-group input-group-prepend form-group">
                <span class="input-group-text" id="additional-fees-addon">£</span>
                <input id="additional-fees" class="form-control">
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
              <button id="calculateButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Calculate</button>
            </div>
          </div>
        </form>
      </div>
      <div id="calculation-results" class="col-lg-6 results">
      </div>
    </div>
  </div>
</section>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="assets/javascripts/calculator.js"></script>
</body>
</html>
