<h1>A new client has filled in and submitted the contact form on the website!</h1>

<h2>Client details:</h2>

<p>Name: <%=params[:name]%></p>
<p>Email: <%=params[:email]%></p>
<p>Phone: <%=params[:phone]%></p>
<p>Message: <%=params[:message]%></p>